.pxtodpi_title {
    text-align: center;
  }
  .pxtodpi_link {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .dpitomm_title {
    text-align: center;
  }
  .dpitomm_link {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .giftits {
    display: flex;
    justify-content: center;
  }
  .arrow {
    font-size: 20px;
  }
  .mmtodpi_title {
    text-align: center;
  }
  .mmtodpi_link {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .router_button {
    width: 208px;
    height: 50px;
    margin: 10px;
    border:0;
    border-radius: 4px;
    color: #fff;
    background-color: #3eaf7c;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    font-size: 15px;
    text-decoration: none;
  }
  .router_button:hover {
    background-color: #4abf8a;
  }
  .input_wrp {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
  }
  .input__value {
    width: 127px;
    height: 30px;
    margin: 10px 0 0 0;
    text-align:center;
    border: 1px solid gray;
    border-radius: 4px;
  }

  .button_go {
    width: 208px;
    height: 50px;
    margin: 10px 0 0 0;
    border: 0;
    border-radius: 4px;
    color: #fff;
    background-color: #dd2c2c;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    font-size: 15px;
    }

button:hover {
background-color:#769184;
}

.home_title_wrp{
    justify-content: center;
    display: flex;
    align-items: center;
  }
  .home_title {
    text-align: center;
    padding: 10px;
  }
  .home_link {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .router_button {
    width: 208px;
    height: 50px;
    margin: 10px 0 0 0;
    border:0;
    border-radius: 4px;
    color: #fff;
    background-color: #3eaf7c;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    font-size: 18px;
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
  }
  .router_button:hover {
    background-color: #4abf8a;
  }
  .weather {
    margin: 20px 0 0 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

.black-info {
  margin: 0px;
}
.template_list {
  cursor: pointer;
}
.template_list:hover {
  color: rgb(92, 92, 248);
}
.cart_pin-div {
  display: flex;
  justify-content: end;
}
.cart_pin {
  margin: 0;
  transform: translate( 32px,-32px);
  cursor: pointer;
}
.pin_img {
  width: 35px;
  height: 35px;
}
.template-bckg {
  background-color: #f1d9be;
  padding: 10px;
}
.test_body {
  display: flex;
  justify-content: space-between;
  max-width: 1800px;
}
.i_wrp {
  display: flex;
  justify-content: center;
}
.i_wrp-ticket {
  display: flex;
  flex-direction: column;
  margin: 5px 5px 5px 5px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
}
.wrapper_elements {
  margin-top: 30px;
  display: flex;
  width: 700px;
  flex-wrap: wrap;
  justify-content: center;
}
.wrapper_element {
  display: flex;
  flex-direction: column;
  height: 180px;
  margin: 5px 5px 5px 5px;
  padding: 12px;
  box-shadow: -1px 0px 8px 0px rgba(34, 60, 80, 0.2);
  background-color: white;
}
.wrapper_btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.input__value-ticket {
  width: 100px;
  height: 30px;
  text-align: center;
  margin-bottom: 5px;
  border-radius: 4px;
  border: 1px solid gray;
}

.btn_all {
  height: 36px;
  border-radius: 4px;
  border: 1px solid gray;
}
.visible-button {
  width: 100px;
  height: 30px;
}
.addbutton {
  width: 40px;
  height: 40px;
  margin: 0 10px;
  font-size: 30px;
  border-radius: 50%;
  border: none;
}
.addbutton:hover {
  transition: 0.5s;
}
.title {
  padding: 0;
  margin: 0;
  text-align: center;
  margin: 0 0 10px 0;
}

.subtitle{
  padding: 0;
  margin: 0;
  text-align: center;
  margin: 0 0 10px 0;
  color: gray;
}
.title_ticket {
  margin: 0;
  text-align: center;
}
.roundComp {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.roundInn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.roundAddress {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.roundStrOne {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.roundStrTwo {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.roundStrThree {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.roundPlace {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.roundSeance {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.roundSector {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.roundTicketPlace {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.roundRulesOne {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.roundRulesTwo {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.roundLimit {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.roundСase {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.roundTitle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.roundSale {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.red {
  background-color: red;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
}
.green {
  background-color: #59c559;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
}
.ticket {
  display: flex;
  justify-content: flex-start;
  justify-content: flex-end;
  flex-direction: row-reverse;
  margin-top: 10px;
  position: absolute;
  transform: translate(-360px, 144px);
  box-shadow: -1px 0px 8px 0px rgba(34, 60, 80, 0.2);
  background-image: repeating-linear-gradient(#ccc 0 1px, transparent 1px 100%), repeating-linear-gradient(90deg, #ccc 0 1px, transparent 1px 100%);
  background-size: 3.779px 3.779px;
  background-color: white;
}

.rootlet-wrp {
  margin-top: 30px;
  display: flex;
  width: 700px;
  flex-wrap: wrap;
}
.ticket_wrp {
  display: flex;
  justify-content: center;
}
.ticket_rootlet {
  height: 100%;
  z-index: 1;
  position: absolute;
  border-right:2px dotted #ababab;;
}
.ticket_control {
  height: 100%;
  z-index: 1;
  position: absolute;
  border-right:2px dotted #ababab;;
}
.text_box {
  position: relative;
  z-index: 2;
  height: 0px;
}
.back_text {
  margin: 0;
    z-index: -30;
    position: absolute;
    top: 50%;
    left: 50%;
}
.text {
  margin: 0;
  position: relative;
}
.list {
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
}
.ticket_text {
  position: relative;
  margin: 0;
  padding: 0;
  width: 150px;
  transform: translateY(-15px);
}
.ticket_text-rootlet {
  position: relative;
  margin: 0;
  padding: 0;
  width: 0px;
  height: 0px;
  transform: rotate(-90deg);
}
.v-build {
  display: flex;
  justify-content: center;
}
.red-info {
  color: red;
  font-size: 20px;
}
.red-star {
  color:#100cff;
}
ul {
  padding: 0;
  margin: 0;
}
h3 {
  text-align: center;
}

.title_barcode {
  border: 1px solid black;
  width: 136px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(0px, -38px);
}

.title_barcode-rootlet {
  border: 1px solid black;
  width: 37px;
  height: 136px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.v-build-components-custom {
  display: none;
}

.template-datamax {
    border: 1px solid #ffffff;
    width: 500px;
    padding: 10px 0 10px 10px;
    box-shadow: -1px 0px 8px 0px rgb(34 60 80 / 20%);
    background-color: white;
    margin: 10px;
  }
  .template_text{
    margin: 0;
  }
  .build_list {
    list-style: none;
  }
  .build_list-padding {
    margin: 0 0 20px 0;
  }
  .build_w-text {
    color: red;
    margin: 0;
    padding: 0;
  }
  .build_n-text {
    margin: 0;
    padding: 0;
  }
  .btn_alltwo {
    height: 36px;
    margin: 0 0 0 5px;
  }

  .template-custom {
    border: 1px solid #ffffff;
    min-width: 500px;
    padding: 10px 0 10px 10px;
    box-shadow: -1px 0px 8px 0px rgb(34 60 80 / 20%);
    background-color: white;
    margin: 0px;
  }
  .template_text{
    margin: 0;
  }
  .build_list-custom {
    list-style: none;
    padding: 5px;
  }
  .build_list-custom:hover {
    color: rgb(92, 92, 248);
  }
  .build_list-padding {
    margin: 10px 0 20px 0;
  }
  .build_w {
    margin: 0;
    padding: 0;
  }
  .build_n-text {
    margin: 0;
    padding: 0;
  }
  .btn_alltwo {
    height: 36px;
    margin: 0 0 0 5px;
  }
  hr {
    border-bottom-style: none;
  }

  .template-citizen {
  border: 1px solid #ffffff;
  width: 500px;
  padding: 10px 0 10px 10px;
  box-shadow: -1px 0px 8px 0px rgb(34 60 80 / 20%);
  background-color: white;
}
.template_text{
  margin: 0;
}
.build_list {
  list-style: none;
}
.build_list-padding {
    margin: 10px 0 20px 0;
  }
.build_w-text {
  color: red;
  margin: 0;
  padding: 0;
}
.build_n-text {
  margin: 0;
  padding: 0;
}
.btn_alltwo {
  height: 36px;
  margin: 0 0 0 5px;
}
